:root {
    --main_red: #b23939;
    --main_background_color: #54575D;
}

@font-face {
    font-family: 'blocktasticregular';
    src: url('../fonts/blocktastic-webfont.woff2') format('woff2'),
    url('../fonts/blocktastic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'above_demoregular';
    src: url('../fonts/abovedemoregular-ljmd-webfont.woff2') format('woff2'),
        url('../fonts/abovedemoregular-ljmd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hackedregular';
    src: url('../fonts/hacked-webfont.woff2') format('woff2'),
    url('../fonts/hacked-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: var(--main_background_color);
    color: white;
    /*font-family: 'Asap', sans-serif;*/
    font-family: 'Source Code Pro', monospace;
}

.main_color {
    color: var(--main_red);
}

.top_menu {
    border-bottom-style: solid;
    border-color: var(--main_red);
}
.top_menu a {
    text-decoration: none;
}

.logo_text {
    font-family: 'above_demoregular';
}

.g-menu {
    font-size: 1.3em;
}

.logo_padding {
    padding-left: 5%;
}

.user {
    text-align: right;
    margin-top: 0.5%;
}

.menu {
    font-family: above_demoregular;
    text-decoration: none;
    color: white;
}

.footer {
    height: 50px;
    text-align: center;
    background-color: #1a1b1e;
    color: white;
}

.wrapper{
    min-height: calc(100vh - 50px);
}

.log_in{
    text-decoration: none;
    color:#b23939;
    padding-top: 2%;
}


@media (max-width: 576px) {
    .reviews img{
        width:250px;
        height: auto;
    }
}

.nadpis_recenzia{
    font-family: 'hackedregular';
    font-size: 1.3em;
    color: var(--main_red);
    text-decoration: none;
}

.h_size{
    font-size: 1.2em;
    color: var(--main_red);
}

.nadpis_hra{
    font-family: 'hackedregular';
    font-size: 2em;
}

.current_page {
    background-color: var(--main_red);
}

.n_mala_img{
    width: 100px;
    height: auto;
}

.n_main_img{
    width: 150px;
    height: auto;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.user{
    text-align: right;
    margin-top: 0.5%;
}
.user_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.log_out button {
    text-decoration: none;
    color: white;
    background-color: var(--main_background_color);
}
.log_out button {
    margin-top: 1%;
    text-align: left;
    margin-right: 0;
}
.log_in{
    text-decoration: none;
    color:#b23939;
    padding-top: 2%;
}

@media (max-width: 576px) {
    .text_odhlasit{
        display: none;
    }
}

@media (max-width: 768px) {
    .novinky_img img{
        height: 400px;
        width: auto;
        margin-left: 20%;
    }
}

@media (max-width: 576px) {
    .novinky_img img{
        width:250px;
        height: auto;
        padding-left:3%;
        margin-left:3%;
    }
}

.nadpis_novinka{
    font-family: 'Major Mono Display', monospace;
    font-size: 1.3em;
    color: var(--main_red);
    text-decoration: none;
}

.read_more {
    font-family: 'blocktasticregular'
}
.user_meno{
    color: var(--main_red);
}
.time{
    color: gray;
}

.pridaj_comment{
    border-top-style: solid;
    border-color: gray;
}

.jeden_reply{
    border-top-style: solid;
    border-color: var(--main_red);
    margin-top: 1%;
}

.negramot{
    width: 100%;
    margin-top: 1%;
}

.topic{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}


